<!DOCTYPE html>
<html lang='en'>

<head>
<title>Update</title>
<style>
    a:link {
        color: goldenrod;
            }
    a:visited {
        color: silver;
            }
    a:hover {
        color: hotpink;
            }
    a:active {
        color: turquoise;
            }   
</style>
</head>

<body style="background-color:   #17181c; color: white;">
<h1>You can update your own blog post on this page.</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.as_p }}</p>
    <input type="submit" value="save"/>


</form>

</body>



</html>