<!DOCTYPE html>
<html lang='en'>

<head>
<title>Detail</title>
<style>
    button {
        background-color: #1e3764; /* Green */
        border: none;
        color: rgb(212, 228, 120);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        }

</style>
</head>

<body style="background-color:   #17181c; color: white;">


<h1>{{object.year}} - {{object.make}} {{object.model}}</h1>
<h3>Nation of Origin: {{object.nation_of_orign}}</h3>
<p>Price: ${{object.price}}M.</p>
<p>Horsepower: {{object.horsepower}}</p>

<p>{{object.description}}</p>
<p><img src="{{object.image.url}}" width="600px"></p>

<!--
<a href="{% url 'CarsDetail' pk=object.id %}"><button type="button">
    Update Car
</button></a>


<form action="{% url 'CarsDetail' pk=object.id %}">
    <input type="submit" value="Update Car" />
</form>
-->

</body>



</html>