<!DOCTYPE html>
<html lang='en'>

<head>
<title>Year</title>
<style>
    a:link {
        color: goldenrod;
            }
    a:visited {
        color: silver;
            }
    a:hover {
        color: hotpink;
            }
    a:active {
        color: turquoise;
            }   
</style>
</head>

<body style="background-color:   #17181c; color: white;">
<h1>Below is the list of the most expensive cars filtered by year.</h1>
<p>{{message}}</p>
<p>Only {{number_of_cars}} are from {{year}}.</p>
<ul>
    {% for car in car_years_list%}
    <li><a href="../../{{car.id}}/">{{car.make}} - {{car.year}}</a></li>
    <!--<li>{{car.make}} - {{car.model}}</li>-->

    {% endfor %}
</ul>

</body>



</html>